.App {
  width: 65%;
  margin: 30px auto;
  padding: 5px 20px;
  background-color: white;
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
  border-radius: 50px;
  border: 2px solid black;
}

h2 {
  margin-bottom: 0;
}

.showForm {
  background-color: bisque;
  border-radius: 20px;
  border: 2px solid rgb(61, 0, 0);

  position: relative; /* Ensure relative positioning for the pseudo-element */
  width: 100%; /* Ensures each category container takes full width of its grid cell */
  max-width: 325px; /* Maximum width per category */

  font-size: 150px;
  text-align: center;

  cursor: pointer;
}

.showForm:hover {
  background-color: rgb(190, 152, 131);
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns, equal width */
  gap: 20px;
  justify-items: center;
  padding-bottom: 25px;
}
