.App {
  width: 70%;
  margin: 50px auto;
  padding: 5px 20px;
  background-color: white;
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
  border-radius: 50px;
  border: 2px solid black;
}

.showForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 325px;
  margin: 0 auto;
  background-color: bisque;
  padding: 40px 50px;
  border-radius: 20px;
  border: 2px solid rgb(61, 0, 0);

  font-size: 150px;
  text-align: center;
}
